<title>FSO气象实时数据</title>
<link rel='Shortcut Icon' href='/bitbug_favicon.ico' type="image/x-icon" />
<style>
.box {

    display: flex;

    flex-wrap:wrap;

    justify-content: center;

    

}

.div-inline{

display:inline;

}

.item {

    width: 20.01%;

    height: 50px;

    margin-bottom: 10px;

}

.placeholder{

    width: 5%;

    heigth: 0px;

}

.red{

    color:#ff0000;

}

.black{

    color:#000;

}
.table {
    line-height: 2em;
    font-family: Arial;
    border-width: 1px;
    border-style: solid;
    border-color: #eec4c4 #eec4c4 #fff #fff;
    text-shadow: 0 1px 0 #FFF;
    border-collapse: separate;
    border-spacing: 0;
    background-color: #ffe9e9;

th {
    color: #a03f3f;
    font-weight: normal;
    text-align: left;
}
td {
    color: #c48080;
    font-size: 0.8em;
}
th,td {
    padding: 0 10px;
    border-width: 1px;
    border-style: solid;
    #border-color: #fff #fff #eec4c4 #eec4c4;
}
}
</style>
<body>
    
    <!-- 测试阶段-->
    <!-- 带=的不会解析HTML标签，
        带-的会解析HTML标签
        判断语句注意：1.不能加=号 2.闭合{}-->
    <!-- <%= title %>-->
    <div align='center' style="font-size:35px">抚仙湖观测站FSO气象实时数据</div>
    <!--＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊＊ -->
    <hr>
    <!--<%- head %>-->
    <div style="font-size: 30px">气象数据<%= data.r0 %></div>
    <!--<div style="font-size: 30px" align='center'><%= data.obsertime %>&ensp;视宁度：<%= data.r0 %>m</div>-->
    <hr>
    
    <!--<div align='center'><b id='time'></b></div><br>-->
    <div id="sdo-newest" align="center" style="font-size:24px" > </div>
    <div align='center'><b>本次数据时间：<%= data.yearNow %>   <%= data.monthNow %></b></div>
    <!--<<script>
        document.getElementById('time').innerHTML='当前时间：'+Date();
    </script>-->
    <script>
    var myVar = setInterval(function(){ myTimer() }, 1000);
 

     Date.prototype.format = function(fmt) { 
     var o = { 
        "M+" : this.getMonth()+1,                 //月份 
        "d+" : this.getDate(),                    //日 
        "h+" : this.getHours(),                   //小时 
        "m+" : this.getMinutes(),                 //分 
        "s+" : this.getSeconds(),                 //秒 
        "q+" : Math.floor((this.getMonth()+3)/3), //季度 
        "S"  : this.getMilliseconds()             //毫秒 
    }; 
    if(/(y+)/.test(fmt)) {
            fmt=fmt.replace(RegExp.$1, (this.getFullYear()+"").substr(4 - RegExp.$1.length)); 
    }
     for(var k in o) {
        if(new RegExp("("+ k +")").test(fmt)){
             fmt = fmt.replace(RegExp.$1, (RegExp.$1.length==1) ? (o[k]) : (("00"+ o[k]).substr((""+ o[k]).length)));
         }
     }
    return fmt; 
    }

    function myTimer() {
    var d = new Date().format("yyyy-MM-dd hh:mm:ss");
    document.getElementById("sdo-newest").innerHTML = d;
    }
    </script>
    <br><br>
    <style type="text/css">
    a:link,a:visited{font-size:40px}
    
    </style>
    
    
    <div class='box'>
    <div class='item'><a id='temp' href="temp.html">温度:<%= data.tem %>℃</a></div>

    <!-- 温度：<%= data.tem %> -->
    <div class='item'><a id='dew' href="dew.html">露点:<%= data.dew %>℃</a></div>

    <div class='item'><a href="press.html">气压:<%= data.press %>hPa</a></div>

    <div class='item'><a id="humm" href="hum.html">相对湿度:<%= data.hum %>%</a></div>

    <br><br><br><br><br>
    

    <div class='item'><a id='dir' href="dir_wind.html"></a></div>

    <div class='item'><a id='speed' href="speed.html">风速:<%= data.speed %>m/s</a></div>

    <div class='item'><a href="rain.html">雨量:<%= data.rain %>mm/min</a></div>

    <div class='item'><a href="rad.html">辐射强度:<%= data.rad %>W/m^2</a></div>
    </div>
    
    <!--<a href="dew.html">露点:<%= data.dew %>℃</a>-->
    <br>
    <div >注：风向是从北算起顺时针方向的角度</div>
    <div style="font-size: 30px" align='center'><%= data.obsertime %>&ensp;视宁度：<%= data.r0 %>m</div>
    <!-- 湿度：<%= data.hum %>
    气压：<%= data.press %>
    风速：<%= data.spreed %>
</div>    风向：<%= data.dir_wind %>
    露点：<%= data.dew %> -->
    <hr>
    <!--<div style="font-size: 30px;position:relative;border:1px;text-align:center;" >当前天区图像</p></div>-->
    <div align='center'>
    <table>
    <th>当前天区</th><th>太阳耀斑爆发情况</th>
    <tr>
    <td> 
    <table>
    
    <tr>
        <td><img id="myimage"   src="heaven.jpg" onclick='changeImage()' alt='image' width="800" height="600" ></td>
    </tr>
    </table>
    </td>
     
     <td>
     <table class='table'>
     <tr>
            <tr><td>实时X射线事件(1-8Å)</td></tr>
            <tr><td>当前时间</td></tr>
            <tr><td>&#8195  <%= data.current%> UTC</td></tr>
            <tr><td>&#8195  <%= data.current_class%></td></tr>
            <tr><td>&#8195  Ratio:<%= data.ratio%></td></tr>
            <tr><td>开始时间</td></tr>
            <tr><td>&#8195  <%= data.begin%> UTC</td></tr>
            <tr><td>&#8195  <%= data.begin_class%></td></tr>
            <tr><td>峰值时间</td></tr>
            <tr><td>&#8195  <%= data.max%> UTC</td></tr>
            <tr><td>&#8195  <%= data.max_class%></td></tr>
            <tr><td>&#8195  Integrated flux:<%= data.xrlong%> J/m^2</td></tr>
            <tr><td>结束时间</td></tr>
            <tr><td>&#8195  <%= data.end%> UTC</td></tr>
            <tr><td>&#8195  <%= data.end_class%></td></tr>
      </tr>
    </table>
    </td>
    </div>
    <!--<tr>
        <td>first</td>
        <td>-</td>
        <td>third</td>
        <td>fourth</td>
    </tr>
    <tr>
        <td>Row</td>
        <td>Row</td>
        <td>Row</td>
        <td>Row</td>
    </tr>-->
    </table>
    </div>
    <script>
    function changeImage()
    {
    	element=document.getElementById('myimage')
    	if (element.src.match("heaven.jpg"))
    	{
    		element.src="heaven.jpg";
    	}
    	else
    	{
    		element.src="heaven.jpg";
    	}
    }
    //function changtem(){
      //  document.getElementById('tem').src='/home/pi/Desktop/temperature.jpg';
    //}
    function myrefresh(){
    window.location.reload();
    }
    setTimeout('myrefresh()',20000); //指定10秒刷新一次
    function changecolor(){
       if(parseInt('<%= data.hum %>')>84){
       document.getElementById('humm').className='red';
       }else if(parseInt('<%= data.tem%>')<=parseInt('<%= data.dew%>')){
       document.getElementById('temp').className='red';
       document.getElementById('dew').className='red';
}else if(parseInt('<%= data.speed %>')>11){
       document.getElementById('speed').className='red';


}
       
    }
    changecolor()
    function wind_dir(){
    var mathvalue = parseInt('<%= data.dir_wind%>')
    var value=Math.floor(parseInt('<%= data.dir_wind%>')/90);
    var angle=parseInt('<%= data.dir_wind%>')%90;
    if (parseInt('<%= data.dir_wind%>')==0){
        document.getElementById('dir').innerHTML = '正北'+'('+mathvalue.toString()+'°'+')';
}else if(parseInt('<%= data.dir_wind%>'==90)){
        document.getElementById('dir').innerHTML = '正东'+'('+mathvalue.toString()+'°'+')';
}else if(parseInt('<%= data.dir_wind%>'==180)){
        document.getElementById('dir').innerHTML = '正南'+'('+mathvalue.toString()+'°',')';
}else if(parseInt('<%= data.dir_wind%>'==270)){
        document.getElementById('dir').innerHTML = '正西'+'('+mathvalue.toString()+'°'+')';
}else{
    switch(value){
    case 0:if (mathvalue<=45){document.getElementById('dir').innerHTML = '北偏东:'+angle.toString()+'°'+'（'+parseInt('<%= data.dir_wind%>').toString()+'°'+"）";  break;}
           else{ var ss=90-angle;document.getElementById('dir').innerHTML = '东偏北：'+ss.toString()+'°'+'（'+mathvalue.toString()+'°'+'）';break;}
    case 1:if (mathvalue<=135){document.getElementById('dir').innerHTML = '东偏南:'+angle.toString()+'°'+'（'+parseInt('<%= data.dir_wind%>').toString()+'°'+'）';break;}
                      else{ var ss=90-angle;document.getElementById('dir').innerHTML = '南偏东：'+ss.toString()+'°'+'（'+mathvalue.toString()+'°'+'）';break;}
    case 2:if (mathvalue<=225){document.getElementById('dir').innerHTML = '南偏西:'+angle.toString()+'°'+'（'+parseInt('<%= data.dir_wind%>').toString()+'°'+'）';break;}
                      else{ var ss=90-angle;document.getElementById('dir').innerHTML = '西偏南：'+ss.toString()+'°'+'（'+mathvalue.toString()+'°'+'）';break;}
    case 3:if (mathvalue<=315){document.getElementById('dir').innerHTML = '西偏北:'+angle.toString()+'°'+'（'+parseInt('<%= data.dir_wind%>').toString()+'°'+'）';break;}
                      else{ var ss=90-angle;document.getElementById('dir').innerHTML = '北偏西：'+ss.toString()+'°'+'（'+mathvalue.toString()+'°'+'）';break;}
}
}
}
    wind_dir()
    </script>
    <script>
    /*<hr>
    <%- head %>
    <hr>
    <a href="temp.html">温度</a>：<%= data.tem %>
    <!-- 温度：<%= data.tem %> -->
    <a href="hum.html">湿度</a>：<%= data.hum %>
    <a href="press.html">气压</a>：<%= data.press %>
    <a href="speed.html">风速</a>：<%= data.spreed %>
    <a href="dir_wind.html">风向</a>：<%= data.dir_wind %>
    <a href="dew.html">露点</a>：<%= data.dew %> 
    <!-- 湿度：<%= data.hum %>
    气压：<%= data.press %>
    风速：<%= data.spreed %>
    风向：<%= data.dir_wind %>
    露点：<%= data.dew %> -->*/
</script>
</body>
